article {
  font-family: 'Literata', serif;
  margin: 20px;
  margin-top: 0;
  line-height: 35px;
}

article h1, h2, h3 {
  margin-bottom: 5px;
  text-align: center;
  font-size: 24px;
}

article p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

/* Image Container */
.container {
  position: relative;
  text-align: center;
  transition: all 0.5s ease-out;
}

.container img {
  display: block;
  width: 1480px;
  height: 900px;
}

/* Text on Image */
.centered {
  position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.centered h1 {
  text-align: left;
  justify-content: center;
  color: #cbcbcb;
  font-size: 32px;
  width: 70%;
}

/* Russian version */
.centeredru {
  position: absolute;
  top: 45%;
  left: 58%;
  transform: translate(-50%, -50%);
}

.centeredru h1 {
  text-align: left;
  justify-content: center;
  color: #cbcbcb;
  font-size: 32px;
  width: 70%;
}

/* Arabic version */
.centeredar {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centeredar h1 {
  text-align: right;
  justify-content: center;
  color: #cbcbcb;
  font-size: 32px;
  width: 100%;
}

/* Credits */
figcaption p {
  justify-content: center;
  font-size: 14px;
  margin-bottom: 10px;
  color: rgba(143, 142, 142, 1);
}

figcaption a {
  font-style: italic;
}

article hr {
  text-align: center;
  margin: 0 auto;
  width: 15%;
}

.wai-p {
  display: block;
  margin: 10px;
}

/* wai */
.wai {
  display: flex;
  justify-content: center;
}

.wai h1 {
  border-bottom: 4px solid yellow;
  margin-bottom: 15px;
}

.waip {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 50%;
  left: 28%;
}

/* Arabic version */
.wai-ar {
  display: flex;
  justify-content: center;
}

.wai-ar h1 {
  border-bottom: 4px solid yellow;
  margin-bottom: 15px;
}

.waip-ar {
  display: flex;
  justify-content: center;
  text-align: right;
  position: relative;
  width: 50%;
  right: 25%;
}

/* Responsive */
@media screen and (max-width: 768px) {
  article {
    margin: 0;
  }

  article h1 {
    margin-bottom: 15px;
  }

  .symbol {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container img {
    margin-top: 15px;
    width: 385px;
    height: 300px;
  }

  .centered {
    position: absolute;
    top: 45%;
    left: 58%;
    transform: translate(-50%, -50%);
  }

  .centered h1 {
    text-align: left;
    justify-content: center;
    color: #cbcbcb;
    font-size: 10px;
    width: 60%;
    line-height: 15px;
  }

  /* Russian version */
  .centeredru {
    position: absolute;
    top: 45%;
    left: 58%;
    transform: translate(-50%, -50%);
  }

  .centeredru h1 {
    text-align: left;
    justify-content: center;
    color: #cbcbcb;
    font-size: 10px;
    width: 60%;
    line-height: 15px;
  }

  /* Arabic version */
  .centeredar {
    position: absolute;
    top: 45%;
    left: 48%;
    transform: translate(-50%, -50%);
  }

  .centeredar h1 {
    text-align: right;
    justify-content: center;
    color: #cbcbcb;
    font-size: 12px;
    width: 100%;
    line-height: 15px;
  }
}

@media screen and (max-width: 768px) {
  .waip {
    left: 12%;
    display: block;
    width: 80%;
  }

  .waip p {
    line-height: 20px;
    font-size: 12px;
  }

  /* Arabic version */
  .waip-ar {
    display: flex;
    justify-content: center;
    text-align: right;
    position: relative;
    width: 90%;
    right: 8%;
  }

  .waip-ar p {
    line-height: 25px;
  }
}
