article {
  font-family: 'Literata', serif;
  margin: 20px;
  margin-top: 0;
  line-height: 35px;
}

article h1 {
  /* margin-bottom: 5px;
  text-align: center; */
  font-size: 34px;
}

article h2 {
  /* margin-bottom: 5px;
  text-align: center; */
  font-size: 28px;
}

article p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.intro, .projects {
  margin: 0 auto;
  position: relative;
  width: 70%;
}

.intro p {
  margin: 0;
  width: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(5%, -50%);
}

.profile-pic {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  transition: transform 1.2s ease-in-out;
}

.profile-pic:hover {
  transform: rotate(360deg);
}

/* @keyframes spin { 100% { transform:rotate(360deg); } }

.profile-pic:hover {
    animation:spin 1.5s linear infinite;
} */

/* wai */
.wai {
  display: flex;
  justify-content: flex-start;
}

.myprojects {
  display: flex;
  justify-content: center;
}

.wai h1, .wai h2, .myprojects h1 {
  border-bottom: 4px solid yellow;
  margin-bottom: 15px;
}

.wai a {
  top: 65%;
  position: absolute;
  color: black;
  background-color: yellow;
}

#me {
  top: 20%;
  position: absolute;
}

.projects-list li {
  margin-left: 5%;
  width: 50%;
  padding: 20px 0px;
  transition: all 0.8s ease-in-out;
}

.projects-list li:hover {
  margin-left: 10%;
}

@media screen and (max-width: 768px) {
  article {
    font-family: 'Literata', serif;
    margin: 0;
    margin-top: 0;
    line-height: 10px;
  }
  
  article h1 {
    /* margin-bottom: 5px;
    text-align: center; */
    font-size: 28px;
    margin-bottom: 15px;
  }

  article h2 {
    /* margin-bottom: 5px;
    text-align: center; */
    font-size: 22px;
  }

  article p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  .intro, .projects {
    width: 100%;
  }

  .profile-pic {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: 10px;
    transition: transform 1.2s ease-in-out;
  }

  .wai {
    text-align: center;
    justify-content: center;
  }

  .wai h1, .wai h2, .myprojects h1 {
    line-height: normal;
  }

  .wai a {
    top: 75%;
    line-height: normal;
  }

  #me {
    top: 45%;
    position: absolute;
    font-size: 28px;
  }

  .intro p {
    width: 90%;
    margin-left: 5%;
    top: 53%;
    left: 0;
    transform: none;
    font-size: 22px;
    line-height: normal;
    white-space: pre-line;
  }

  .projects {
    margin-top: -45%;
    text-align: center;
  }

  .projects-list li {
    width: 90%;
    line-height: normal;
    padding: 10px 0px;
  }  
}