article {
  font-family: 'Literata', serif;
  /* line-height: 35px; */
}

article h1 {
  font-size: 2em;
}

article h2 {
  font-size: 1.5em;
}

article p {
  font-family: 'Montserrat', sans-serif;
}

.index {
  display: block;
  margin-top: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.cv {
  display: block;
  text-align: center;
}

.cv button {
  border: none;
  border-bottom: 2px solid #9900ff;
  color: #9900ff;
  font-size: 1.5em;
  transition: all 1s;
}

.cv button:hover {
  transform: skewX(-20deg);
}

.name {
  color: #9900ff;
  font-weight: bold;
}

.intro, .projects, .my-cv, .experience {
  max-height: 100%;
}

.intro, .image-r, .wai-r {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  /* transition: transform 1.2s ease-in-out; */
}

.profile-pic:hover {
  transform: rotate(360deg);
}

.wai {
  display: block;
  /* margin-top: 6rem; */
}

.wai p {
  font-size: 2em;
}

.wai h1, .wai h2, .myprojects h1, .cv-header h1, .xp-header h1 {
  border-bottom: 4px solid yellow;
  margin-bottom: 15px;
}

#me {
  width: fit-content;
}

.wai a {
  color: black;
  background-color: yellow;
}

@media screen and (max-width: 768px) {
  article {
    font-family: 'Literata', serif;
    margin: 0;
    margin-top: 0;
    line-height: 10px;
  }

  .index {
    display: block;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .wai {
    margin: 2rem 0;
  }

  .wai p {
    font-size: 1em;
    line-height: 1.2;
  }

  .profile-pic {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: 10px;
    transition: transform 1.2s ease-in-out;
  }

  .wai {
    text-align: center;
    display: block;
  }

  .wai h1, .wai h2, .myprojects h1 {
    line-height: normal;
  }

  #me {
    display: inline-flex;
  }

  .projects {
    text-align: center;
  }

  .projects-list li {
    width: 90%;
    line-height: normal;
    padding: 10px 0px;
  }  

  .grid-container {
    grid-template-columns: auto;
  }
  
  .grid-item {
    padding: 2rem 0;
  }

  .grid-item li {
    padding: 1.5rem 0;
  }

  .work-xp {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .xp {
    margin: 1.5rem 0;
    line-height: 2;
  }  

  .intro, .projects, .my-cv, .experience {
    height: 100%;
    margin-top: 3rem;
  }

  .wai a {
    line-height: 2;
    color: black;
    background-color: yellow;
  }
}